/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}*/
.start {
  height: 10270px;
}
/* html,body{
  overflow-x:hidden;
} */
.h1 {
  position: absolute;
  width: 1034px;
  left: 100px;
  top: 100px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 40px;
  line-height: 92px;
  color: #555555;
  opacity: 1;
  text-align: left;
}
.h2 {
  position: absolute;
  width: 950px;
  left: 100px;
  top: 170px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 40px;
  line-height: 92px;
  color: #3ad4af;
  opacity: 1;
  text-align: left;
}
.text1 {
  position: absolute;
  width: 696px;
  height: 104px;
  left: 100px;
  top: 270px;
  font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 52px;
  color: #555555;
}
.pic1 > img {
  position: absolute;
  width: 403px;
  height: 435px;
  left: 855px;
  top: 119px;

  /*background: url("../../assests/pic1.png");*/
}
.button0 {
  width: 228px;
  height: 70px;
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 100px;
  overflow: hidden;
}
.box0 {
  width: 228px;
  height: 70px;
  background: rgba(58, 212, 175, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.h3 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 43px;
  font-family: Jost;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.button0:hover {
  cursor: pointer;
}
.button2 {
  width: 228px;
  height: 70px;
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 345px;
  overflow: hidden;
}
.box2 {
  width: 228px;
  height: 70px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(58, 212, 175, 1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.h4 {
  width: 117px;
  color: rgba(58, 212, 175, 1);
  position: absolute;
  top: 14px;
  left: 55px;
  font-family: Jost;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.button2:hover {
  cursor: pointer;
}
.button3 {
  width: 228px;
  height: 70px;
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 607px;
  overflow: hidden;
}
.box3 {
  width: 228px;
  height: 70px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(58, 212, 175, 1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.h5 {
  width: 195px;
  color: rgba(58, 212, 175, 1);
  position: absolute;
  top: 14px;
  left: 16px;
  font-family: Jost;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.button3:hover {
  cursor: pointer;
}
.hr {
  position: absolute;
  width: 1240.01px;
  height: 0px;
  left: 80px;
  top: 675px;
  border: 2px solid #555555;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.text2 {
  position: absolute;
  width: 100%;
  height: 68px;
  left: 108px;
  top: 681px;

  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #555555;
}
.phone {
  position: absolute;
  width: 203px;
  height: 76px;
  left: 650px;
  top: 662px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.name {
  position: absolute;
  width: 203px;
  height: 76px;
  left: 875px;
  top: 662px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.sub {
  position: absolute;
  width: 203px;
  height: 76px;
  left: 1125px;
  top: 662px;
  background: #3ad4af;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.container {
  width: 1500px;
  height: 668px;
  background: rgba(248, 218, 174, 1);
  opacity: 1;
  position: absolute;
  top: 757px;
  left: 100px;
  overflow: hidden;
}
.h6 {
  width: 343px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 889px;
  left: 548px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.h7 {
  width: 377px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 1055px;
  left: 230px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.pic2 > img {
  position: absolute;
  width: 480px;
  height: 500px;
  left: 770px;
  top: 1070px;
  background-blend-mode: multiply;
}
.ar1 {
  position: absolute;
  width: 251px;
  height: 347px;
  left: 250px;
  top: 1342px;
}
.ar2 {
  position: absolute;
  width: 471px;
  height: 347px;
  left: 749px;
  top: 1966px;
}
.text3 {
  width: 508px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 960px;
  left: 480px;
  font-family: Jost;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.text4 {
  width: 428px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 1162px;
  left: 210px;
  font-family: Jost;
  font-weight: Light;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.text5 {
  position: absolute;
  width: 255px;
  height: 40px;
  left: 210px;
  top: 1205px;
  font-family: Jost;
  font-size: 26px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: black;
}
.text6 {
  position: absolute;

  height: 28px;
  left: 395px;
  top: 1211px;

  font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 48px;
  display: flex;
  align-items: center;

  color: #555555;
}
.h8 {
  width: 586px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 1708px;
  left: 692px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.pic3 > img {
  position: absolute;
  width: 378px;
  height: 338px;
  left: 150px;
  top: 1741px;
}
.text7 {
  width: 586px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 1829px;
  left: 692px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.h9 {
  width: 547px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 2192px;
  left: 120px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.pic4 > img {
  position: absolute;
  width: 441px;
  height: 495px;
  left: 761px;
  top: 2152px;
}
.text8 {
  width: 500px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 2399px;
  left: 120px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.h10 {
  width: 615px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 2635px;
  left: 648px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.pic5 > img {
  position: absolute;
  width: 421px;
  height: 481px;
  left: 80px;
  top: 2571px;
}
.text9 {
  width: 572px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 2744px;
  left: 648px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.h11 {
  width: 850px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3000px;
  left: 396px;
  font-family: Jost;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.subhead {
  width: 600px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 3100px;
  left: 397px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.pic6 {
  position: absolute;
  width: 200px;
  height: 230px;
  left: 98px;
  top: 3250px;
}
.pic7 {
  position: absolute;
  width: 200px;
  height: 230px;
  left: 600px;
  top: 3250px;
}
.pic8 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1020px;
  top: 3250px;
}
.pic9 {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 40px;
  top: 4000px;
}
.pic10 {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 355px;
  top: 4000px;
}
.pic11 {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 718px;
  top: 4000px;
}
.pic12 {
  position: absolute;
  width: 220px;
  height: 250px;
  left: 1015px;
  top: 4000px;
}
.text10 {
  width: 374px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 3550px;
  left: 118px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.text11 {
  width: 392px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 3550px;
  left: 549px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.text12 {
  width: 343px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 3550px;
  left: 979px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.subhead1 {
  width: 90%;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 3709px;
  left: 0px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.h12 {
  width: 100%;
  /*color: url("../images/v165_186.png");*/
  position: absolute;
  top: 3850px;
  left: 0px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}
.h13 {
  width: 190px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4250px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text13 {
  width: 281px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 4350px;
  left: 100px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.h14 {
  width: 220px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4250px;
  left: 392px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text14 {
  width: 314px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 4350px;
  left: 392px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.h15 {
  width: 282px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4250px;
  left: 732px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text15 {
  width: 314px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 4350px;
  left: 732px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.h16 {
  width: 160px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4250px;
  left: 1100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text16 {
  width: 240px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 4350px;
  left: 1100px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
/*retirement planning*/
.start1 {
  width: 100%;
  height: 102px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4550px;
  left: 0px;
  overflow: hidden;
}
.box1 {
  width: 100%;
  height: 102px;
  background: rgba(58, 212, 175, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 10px 20px
    rgba(0.22745098173618317, 0.8313725590705872, 0.686274528503418, 1);
  overflow: hidden;
}
.headingx {
  width: 600px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
  margin: 0px;
  padding-top: 0px;
}
.subhead2x {
  width: 436px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 4610px;
  left: 800px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.h17 {
  width: 681px;
  position: absolute;
  top: 4700px;
  left: 100px;
  font-family: Jost;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.pic13 > img {
  position: absolute;
  width: 400px;
  height: 380px;
  left: 850px;
  top: 4730px;
}
.text17 {
  width: 650px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4800px;
  left: 100px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.subhead3 {
  width: 491px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5130px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.text18 {
  width: 950px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 5200px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.pic14 > img {
  position: absolute;
  width: 370px;
  height: 300px;
  left: 810px;
  top: 5459px;
}
.subhead4 {
  width: 858px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5400px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text19 {
  width: 525px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 5480px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.subhead5 {
  width: 549px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 5800px;
  left: 100px;
  font-family: Jost;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.text20 {
  width: 900px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 5880px;
  left: 100px;
  font-family: Jost;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.start2 {
  width: 100%;
  height: 122px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6020px;
  left: 0px;
  overflow: hidden;
}
.box4 {
  width: 100%;
  height: 122px;
  background: rgba(58, 212, 175, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 10px 20px
    rgba(0.22745098173618317, 0.8313725590705872, 0.686274528503418, 1);
  overflow: hidden;
}
.heading1 {
  width: 397px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 100px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.subhead6 {
  width: 740px;
  position: absolute;
  top: 6200px;
  left: 100px;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.pic15 > img {
  position: absolute;
  width: 365px;
  height: 380px;
  left: 850px;
  top: 6200px;
}
.text21 {
  width: 651px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 6370px;
  left: 100px;
  font-family: Jost;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.pic16 > img {
  position: absolute;
  width: 380px;
  height: 396px;
  left: 260px;
  top: 6630px;
}
.text22 {
  width: 459px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 6800px;
  left: 807px;
  font-family: Jost;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.h18 {
  width: 514px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 7200px;
  left: 500px;
  font-family: Jost;
  font-size: 48px;
  opacity: 1;
}
.text23 {
  width: 1200px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 7300px;
  left: 100px;
  font-family: Jost;
  font-size: 20px;
  opacity: 1;
}
.start3 {
  width: 100%;
  height: 122px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7600px;
  left: 0px;
  overflow: hidden;
}
.box5 {
  width: 100%;
  height: 122px;
  background: rgba(58, 212, 175, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 10px 20px
    rgba(0.22745098173618317, 0.8313725590705872, 0.686274528503418, 1);
  overflow: hidden;
}
.heading2 {
  width: 469px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  left: 121px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.pic17 > img {
  position: absolute;
  width: 472px;
  height: 400px;
  left: 690px;
  top: 7700px;
}
.subhead7 {
  width: 410px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 7750px;
  left: 127px;
  font-family: Jost;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.container1 {
  width: 100%;
  height: 550px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 8200px;
  left: 0px;

  overflow: hidden;
}
.h19 {
  width: 718px;
  color: rgba(25, 25, 80, 1);
  position: absolute;
  top: 8200px;
  left: 394px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.pic18 > img {
  position: absolute;
  width: 364px;
  height: 344px;
  left: 858px;
  top: 8300px;
}
.text24 {
  width: 630px;
  color: rgba(25, 25, 80, 1);
  position: absolute;
  top: 8400px;
  left: 129px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.container2 {
  width: 100%;
  height: 540px;
  background: rgba(58, 212, 175, 1);
  opacity: 1;
  position: absolute;
  top: 8800px;
  left: 0px;

  overflow: hidden;
}
.h20 {
  width: 589px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 8900px;
  left: 450px;
  font-family: Jost;
  font-weight: SemiBold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.pic19 > img {
  position: absolute;
  width: 320px;
  height: 326px;
  left: 853px;
  top: 9000px;
}
.text25 {
  width: 666px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9000px;
  left: 108px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.h21 {
  width: 1050px;
  position: absolute;
  top: 9500px;
  left: 100px;
  font-family: Jost;

  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.text26 {
  width: 543px;
  color: rgba(85, 85, 85, 1);
  position: absolute;
  top: 9600px;
  left: 100px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.pic20 > img {
  position: absolute;
  width: 330px;
  height: 321px;
  left: 823px;
  top: 9500px;
}
@media screen and (max-width: 550px) {
  /* html,body{
overflow-x:hidden;} */
  .start {
    overflow-x: hidden;
  }

  .h1,
  .h2 {
    font-size: 20px;
    left: 40px;
    width: 90%;
  }
  .text1 {
    font-size: 20px;
    width: 70%;
    left: 40px;
  }
  .pic1 > img {
    width: 50%;
    height: 25%;
    left: 30px;
    top: 410px;
  }
  .button0 {
    left: 50px;
    top: 660px;
  }
  .button2 {
    left: 50px;
    top: 750px;
  }
  .button3 {
    left: 50px;
    top: 840px;
  }
  .hr {
    left: 25px;
    width: 90%;
    top: 905px;
  }
  .text2 {
    left: 30px;
    width: 80%;
    top: 940px;
  }
  .container {
    left: 10px;
    top: 1200px;
    width: 90%;
    height: 70%;
  }
  .h6 {
    left: 30px;
    top: 1240px;
    width: 70%;
    font-size: 20px;
  }
  .text3 {
    left: 5px;
    top: 1260px;
    width: 100%;
    font-size: 17px;
  }
  .h7 {
    left: 90px;
    top: 1280px;
    width: 70%;
    font-size: 20px;
  }
  .pic2 > img {
    width: 40%;
    left: 88px;
    height: 25%;
    top: 1320px;
  }
  .ar1 {
    left: 50px;
    top: 1680px;
  }
  .ar1 > img {
    height: 30%;
    width: 50%;
  }
  .text4 {
    left: 30px;
    top: 1570px;
    font-size: 20px;
  }
  .text5 {
    left: 30px;
    top: 1590px;
    font-size: 20px;
  }
  .text6 {
    left: 30px;
    top: 1620px;
    font-size: 20px;
  }
  .pic3 > img {
    width: 50%;
    left: 40px;
    height: 20%;
    top: 1790px;
  }
  .h8 {
    left: 20px;
    top: 2050px;
    font-size: 30px;
    width: 90%;
  }
  .text7 {
    left: 50px;
    top: 2100px;
    width: 70%;
  }
  .ar2 {
    left: 50px;
    top: 2200px;
  }
  .ar2 > img {
    width: 30%;
    height: 40%;
  }
  .pic4 > img {
    width: 30%;
    left: 30px;
    height: 40%;
    top: 2250px;
  }
  .h9 {
    left: 20px;
    top: 2500px;
    font-size: 30px;
  }
  .text8 {
    left: 50px;
    top: 2550px;
    width: 70%;
  }

  .pic5 > img {
    width: 40%;
    left: 50px;
    height: 25%;
    top: 2730px;
  }
  .h10 {
    left: 20px;
    top: 2940px;
    font-size: 30px;
  }
  .text9 {
    left: 50px;
    top: 2970px;
    width: 70%;
  }
  .h11 {
    left: 10px;
    top: 3170px;
    width: 100%;
    font-size: 25px;
  }
  .subhead {
    left: 30px;
    top: 3210px;
    width: 80%;
    font-size: 20px;
  }
  .pic6 {
    left: 20px;
    top: 3290px;
  }
  .pic6 > img {
    width: 30%;
    height: 40%;
    left: 20px;
  }
  .text10 {
    left: 150px;
    top: 3290px;
    width: 50%;
    font-size: 23px;
  }
  .pic7 {
    left: 20px;
    top: 3500px;
  }
  .pic7 > img {
    width: 30%;
    height: 30%;
    left: 20px;
  }
  .text11 {
    left: 150px;
    top: 3490px;
    width: 50%;
    font-size: 23px;
  }
  .pic8 {
    left: 20px;
    top: 3700px;
  }
  .pic8 > img {
    width: 30%;
    height: 30%;
    left: 20px;
  }
  .text12 {
    left: 150px;
    top: 3700px;
    width: 50%;
    font-size: 23px;
  }
  .subhead1 {
    left: 20px;
    top: 3830px;
    width: 80%;
    font-size: 20px;
  }
  .h12 {
    left: 30px;
    top: 3980px;
    width: 80%;
    font-size: 20px;
  }
  .pic9 {
    left: 20px;
    top: 4050px;
  }
  .pic9 > img {
    width: 30%;
    left: 20px;
    height: 30%;
  }
  .pic10 {
    left: 20px;
    top: 4170px;
  }
  .pic10 > img {
    width: 30%;
    left: 20px;
  }
  .pic11 {
    left: 20px;
    top: 4300px;
  }
  .pic11 > img {
    width: 30%;
    left: 20px;
  }
  .pic12 {
    left: 20px;
    top: 4430px;
  }
  .pic12 > img {
    width: 30%;
    left: 20px;
  }
  .h13 {
    left: 150px;
    top: 4050px;
    font-size: 18px;
  }
  .text13 {
    left: 150px;
    top: 4080px;
    font-size: 16px;
    width: 50%;
  }
  .h14 {
    left: 150px;
    top: 4170px;
    font-size: 18px;
  }
  .text14 {
    left: 150px;
    top: 4190px;
    font-size: 16px;
    width: 50%;
  }
  .h15 {
    left: 150px;
    top: 4295px;
    font-size: 18px;
  }
  .text15 {
    left: 150px;
    top: 4320px;
    font-size: 16px;
    width: 50%;
  }
  .h16 {
    left: 150px;
    top: 4430px;
    font-size: 18px;
  }
  .text16 {
    left: 150px;
    top: 4460px;
    font-size: 16px;
    width: 50%;
  }
  .box1 {
    width: 100%;
  }
  .headingx {
    left: 20px;
    font-size: 25px;
  }
  .subhead2x {
    left: 90px;
    font-size: 20px;
  }
  .h17 {
    left: 10px;
    font-size: 23px;
    width: 90%;
    top: 4660px;
  }
  .text17 {
    left: 30px;
    font-size: 18px;
    width: 80%;
    top: 4720px;
  }
  .pic13 > img {
    width: 30%;
    left: 80px;
    height: 25%;
    top: 4850px;
  }
  .subhead3 {
    left: 20px;
    font-size: 25px;
    top: 5030px;
  }
  .text18 {
    left: 20px;
    font-size: 15px;
    width: 90%;
    top: 5080px;
  }
  .subhead4 {
    left: 20px;
    top: 5390px;
    width: 90%;
    font-size: 18px;
  }
  .text19 {
    left: 20px;
    top: 5450px;
    width: 90%;
    font-size: 17px;
  }
  .subhead5 {
    left: 20px;
    top: 5895px;
    font-size: 20px;
    width: 90%;
  }
  .text20 {
    left: 20px;
    top: 5935px;
    font-size: 18px;
    width: 90%;
  }
  .pic14 > img {
    width: 300px;
    left: 20px;
    height: 25%;
    top: 5700px;
  }
  .box4 {
    width: 100%;
    height: 50%;
  }
  .heading1 {
    left: 60px;
    font-size: 35px;
  }
  .subhead6 {
    left: 20px;
    font-size: 20px;
    width: 90%;
    top: 6100px;
  }
  .text21 {
    left: 20px;
    font-size: 18px;
    width: 90%;
    top: 6230px;
  }
  .pic15 > img {
    width: 30%;
    left: 30px;
    height: 30%;
    top: 6400px;
  }
  .text22 {
    left: 20px;
    top: 6680px;
    width: 90%;
    font-size: 18px;
  }
  .pic16 > img {
    width: 30%;
    left: 20px;
    height: 29%;
    top: 6920px;
  }
  .h18 {
    left: 40px;
    top: 7120px;
    font-size: 25px;
  }
  .text23 {
    left: 20px;
    top: 7160px;
    width: 90%;
    font-size: 16px;
  }
  .box5 {
    width: 100%;
    height: 70%;
  }
  .heading2 {
    font-size: 40px;
    left: 50px;
  }
  .subhead7 {
    left: 20px;
    font-size: 18px;
    width: 80%;
  }

  .pic17 > img {
    width: 250px;
    left: 20px;
    height: 30%;
    top: 7950px;
  }
  .h19 {
    left: 30px;
    font-size: 25px;
    width: 100%;
  }
  .text24 {
    left: 30px;
    top: 8250px;
    width: 90%;
  }
  .pic18 > img {
    width: 30%;
    left: 30px;
    height: 27%;
    top: 8500px;
  }
  .container2 {
    top: 8870px;
    width: 100%;
    height: 100%;
  }
  .h20 {
    left: 20px;
    font-size: 25px;
    width: 90%;
    top: 8950px;
  }
  .text25 {
    left: 20px;
    width: 90%;
    top: 8990px;
    font-size: 18px;
  }
  .pic19 > img {
    width: 30%;
    left: 20px;
    height: 30%;
    top: 9350px;
  }
  .h21 {
    left: 20px;
    top: 9640px;
    width: 90%;
    font-size: 25px;
  }
  .text26 {
    left: 20px;
    top: 9695px;
    width: 90%;
    font-size: 18px;
  }
  .pic20 > img {
    width: 30%;
    left: 30px;
    height: 30%;
    top: 10060px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 800px) {
  /* html,body{
    overflow-x:hidden;
  } */
  .start {
    overflow-x: hidden;
  }
  .h1,
  .h2 {
    font-size: 30px;
    left: 90px;
    width: 100%;
  }
  .text1 {
    font-size: 25px;
    width: 70%;
    left: 70px;
  }
  .pic1 > img {
    width: 50%;
    left: 130px;
    top: 320px;
    height: 40%;
  }
  .button0 {
    left: 30px;
    top: 780px;
  }
  .button2 {
    left: 260px;
    top: 780px;
  }
  .button3 {
    left: 490px;
    top: 780px;
  }
  .hr {
    left: 25px;
    width: 90%;
    top: 905px;
  }
  .text2 {
    left: 30px;
    width: 100%;
    top: 940px;
  }
  .container {
    left: 60px;
    top: 1100px;
    width: 80%;
    height: 55%;
  }
  .h6 {
    left: 50px;
    top: 1140px;
    width: 70%;
    font-size: 26px;
  }
  .text3 {
    left: -45px;
    top: 1170px;
    width: 100%;
    font-size: 20px;
  }
  .h7 {
    left: 70px;
    top: 1240px;
    width: 90%;
    font-size: 25px;
  }
  .pic2 > img {
    width: 30%;
    left: 450px;
    top: 1200px;
    height: 50%;
  }
  .ar1 {
    left: 130px;
    top: 1420px;
  }
  .ar1 > img {
    height: 79%;
    width: 50%;
  }
  .text4 {
    left: 70px;
    top: 1290px;
    font-size: 25px;
  }
  .text5 {
    left: 70px;
    top: 1320px;
    font-size: 20px;
  }
  .text6 {
    left: 70px;
    top: 1360px;
    font-size: 20px;
  }
  .pic3 > img {
    width: 50%;
    left: 190px;
    top: 1700px;
    height: 30%;
  }
  .h8 {
    left: 60px;
    top: 2050px;
    font-size: 30px;
    width: 95%;
  }
  .text7 {
    left: 50px;
    top: 2100px;
    width: 95%;
  }
  .ar2 {
    left: 120px;
    top: 2200px;
  }
  .ar2 > img {
    width: 50%;
    height: 40%;
  }
  .pic4 > img {
    width: 60%;
    left: 130px;
    top: 2220px;
    height: 30%;
  }
  .h9 {
    left: 50px;
    top: 2500px;
    font-size: 30px;
  }
  .text8 {
    left: 50px;
    top: 2550px;
    width: 90%;
  }
  .pic5 > img {
    width: 70%;
    left: 150px;
    top: 2598px;
    height: 30%;
  }
  .h10 {
    left: 40px;
    top: 2940px;
    font-size: 30px;
  }
  .text9 {
    left: 50px;
    top: 2980px;
    width: 90%;
  }
  .h11 {
    left: 80px;
    top: 3170px;
    width: 90%;
    font-size: 25px;
  }
  .subhead {
    left: 30px;
    top: 3220px;
    width: 90%;
    font-size: 20px;
  }
  .pic6 {
    left: 20px;
    top: 3290px;
  }
  .pic6 > img {
    width: 70%;
    height: 60%;
  }
  .text10 {
    left: 230px;
    top: 3290px;
    width: 70%;
    font-size: 23px;
  }
  .pic7 {
    left: 20px;
    top: 3500px;
  }
  .pic7 > img {
    width: 70%;
    height: 60%;
  }
  .text11 {
    left: 190px;
    top: 3490px;
    width: 60%;
    font-size: 23px;
  }
  .pic8 {
    left: 20px;
    top: 3700px;
  }
  .pic8 > img {
    width: 70%;
    height: 60%;
  }
  .text12 {
    left: 210px;
    top: 3700px;
    width: 70%;
    font-size: 25px;
  }
  .subhead1 {
    left: 40px;
    top: 3830px;
    width: 80%;
    font-size: 25px;
  }
  .h12 {
    left: 30px;
    top: 3980px;
    width: 80%;
    font-size: 23px;
  }
  .pic9 {
    left: 20px;
    top: 4000px;
  }
  .pic9 > img {
    width: 60%;
  }
  .pic10 {
    left: 20px;
    top: 4100px;
  }
  .pic10 > img {
    width: 60%;
  }
  .pic11 {
    left: 20px;
    top: 4200px;
  }
  .pic11 > img {
    width: 60%;
  }
  .pic12 {
    left: 20px;
    top: 4400px;
  }
  .pic12 > img {
    width: 60%;
  }
  .h13 {
    left: 230px;
    top: 4050px;
    font-size: 20px;
  }
  .text13 {
    left: 230px;
    top: 4080px;
    font-size: 18px;
    width: 50%;
  }
  .h14 {
    left: 230px;
    top: 4170px;
    font-size: 20px;
  }
  .text14 {
    left: 230px;
    top: 4190px;
    font-size: 18px;
    width: 50%;
  }
  .h15 {
    left: 230px;
    top: 4295px;
    font-size: 20px;
  }
  .text15 {
    left: 230px;
    top: 4320px;
    font-size: 18px;
    width: 50%;
  }
  .h16 {
    left: 230px;
    top: 4430px;
    font-size: 20px;
  }
  .text16 {
    left: 230px;
    top: 4460px;
    font-size: 18px;
    width: 50%;
  }
  .box1 {
    width: 100%;
  }
  .headingx {
    left: 20px;
    font-size: 36px;
  }
  .subhead2x {
    left: 290px;
    font-size: 26px;
  }
  .h17 {
    left: 50px;
    font-size: 25px;
    width: 100%;
    top: 4660px;
  }
  .text17 {
    left: 30px;
    font-size: 20px;
    width: 80%;
    top: 4695px;
  }
  .pic13 > img {
    width: 50%;
    left: 100px;
    top: 4760px;
    height: 30%;
  }
  .subhead3 {
    left: 50px;
    font-size: 26px;
    top: 5030px;
  }
  .text18 {
    left: 20px;
    font-size: 20px;
    width: 90%;
    top: 5080px;
  }
  .subhead4 {
    left: 50px;
    top: 5390px;
    width: 90%;
    font-size: 26px;
  }
  .text19 {
    left: 20px;
    top: 5450px;
    width: 90%;
    font-size: 20px;
  }
  .subhead5 {
    left: 50px;
    top: 5920px;
    font-size: 26px;
    width: 90%;
  }
  .text20 {
    left: 20px;
    top: 5960px;
    font-size: 20px;
    width: 70%;
  }
  .pic14 > img {
    width: 400px;
    left: 100px;
    top: 5640px;
    height: 30%;
  }
  .box4 {
    width: 100%;
    height: 50%;
  }
  .heading1 {
    left: 80px;
    font-size: 35px;
  }
  .subhead6 {
    left: 20px;
    font-size: 25px;
    width: 100%;
    top: 6100px;
  }
  .text21 {
    left: 20px;
    font-size: 20px;
    width: 90%;
    top: 6230px;
  }
  .pic15 > img {
    width: 50%;
    left: 100px;
    top: 6380px;
    height: 30%;
  }
  .text22 {
    left: 20px;
    top: 6680px;
    width: 90%;
    font-size: 22px;
  }
  .pic16 > img {
    width: 50%;
    left: 50px;
    top: 6900px;
    height: 30%;
  }
  .h18 {
    left: 40px;
    top: 7200px;
    font-size: 25px;
  }
  .text23 {
    left: 20px;
    top: 7240px;
    width: 95%;
    font-size: 20px;
  }
  .box5 {
    width: 100%;
    height: 70%;
  }
  .heading2 {
    font-size: 40px;
    left: 50px;
  }
  .subhead7 {
    left: 20px;
    font-size: 23px;
    width: 80%;
  }
  .pic17 > img {
    width: 390px;
    left: 90px;
    top: 7890px;
    height: 30%;
  }
  .h19 {
    left: 30px;
    font-size: 25px;
    width: 100%;
  }
  .text24 {
    left: 30px;
    top: 8300px;
    width: 90%;
  }
  .pic18 > img {
    width: 60%;
    left: 120px;
    top: 8460px;
    height: 30%;
  }
  .container2 {
    top: 8870px;
    width: 100%;
    height: 100%;
  }
  .h20 {
    left: 20px;
    font-size: 25px;
    width: 90%;
    top: 8950px;
  }
  .text25 {
    left: 20px;
    width: 90%;
    top: 8990px;
    font-size: 20px;
  }
  .pic19 > img {
    width: 50%;
    left: 140px;
    top: 9200px;
    height: 30%;
  }
  .h21 {
    left: 20px;
    top: 9570px;
    width: 90%;
    font-size: 25px;
  }
  .text26 {
    left: 20px;
    top: 9610px;
    width: 90%;
    font-size: 20px;
  }
  .pic20 > img {
    width: 50%;
    left: 130px;
    top: 9895px;
    height: 30%;
  }
}

@media only screen and (min-width: 802px) and (max-width: 1200px) {
  /* html,body{
    overflow-x:hidden;
  } */
  .personal11 {
    padding-top: 10%;
    margin-top: 10%;
  }

  .h1,
  .h2 {
    font-size: 60px;
    left: 60px;
    width: 100%;
  }
  .text1 {
    font-size: 25px;
    width: 70%;
    left: 70px;
  }
  .pic1 > img {
    width: 40%;
    left: 190px;
    top: 320px;
    height: 30%;
  }
  .button0 {
    left: 80px;
    top: 780px;
  }
  .button2 {
    left: 340px;
    top: 780px;
  }
  .button3 {
    left: 620px;
    top: 780px;
  }
  .hr {
    left: 25px;
    width: 90%;
    top: 905px;
  }
  .text2 {
    left: 30px;
    width: 90%;
    top: 940px;
  }
  .container {
    left: 60px;
    top: 1130px;
    width: 70%;
    height: 30%;
  }
  .h6 {
    left: 50px;
    top: 1180px;
    width: 70%;
    font-size: 30px;
  }
  .text3 {
    left: -40px;
    top: 1250px;
    width: 100%;
    font-size: 20px;
  }
  .h7 {
    left: 70px;
    top: 1350px;
    width: 90%;
    font-size: 25px;
  }
  .pic2 > img {
    width: 40%;
    left: 470px;
    top: 1370px;
    height: 20%;
  }
  .ar1 {
    left: 150px;
    top: 1520px;
  }
  .ar1 > img {
    height: 68%;
    width: 50%;
  }
  .text4 {
    left: 70px;
    top: 1390px;
    font-size: 25px;
  }
  .text5 {
    left: 70px;
    top: 1430px;
    font-size: 20px;
  }
  .text6 {
    left: 70px;
    top: 1470px;
    font-size: 20px;
  }
  .pic3 > img {
    width: 50%;
    left: 200px;
    top: 1710px;
    height: 25%;
  }
  .h8 {
    left: 60px;
    top: 2050px;
    font-size: 30px;
    width: 95%;
  }
  .text7 {
    left: 50px;
    top: 2100px;
    width: 95%;
  }
  .ar2 {
    left: 120px;
    top: 2150px;
  }
  .ar2 > img {
    width: 50%;
    height: 40%;
  }
  .pic4 > img {
    width: 50%;
    left: 130px;
    top: 2180px;
    height: 30%;
  }
  .h9 {
    left: 50px;
    top: 2500px;
    font-size: 30px;
  }
  .text8 {
    left: 50px;
    top: 2550px;
    width: 95%;
  }
  .pic5 > img {
    width: 50%;
    left: 150px;
    top: 2580px;
    height: 30%;
  }
  .h10 {
    left: 40px;
    top: 2940px;
    font-size: 30px;
  }
  .text9 {
    left: 50px;
    top: 2980px;
    width: 90%;
  }
  .h11 {
    left: 80px;
    top: 3170px;
    width: 100%;
    font-size: 25px;
  }
  .subhead {
    left: 30px;
    top: 3220px;
    width: 90%;
    font-size: 20px;
  }
  .pic6 {
    left: 20px;
    top: 3290px;
  }
  .pic6 > img {
    width: 70%;
    height: 60%;
  }
  .text10 {
    left: 250px;
    top: 3290px;
    width: 70%;
    font-size: 23px;
  }
  .pic7 {
    left: 20px;
    top: 3500px;
  }
  .pic7 > img {
    width: 70%;
    height: 60%;
  }
  .text11 {
    left: 250px;
    top: 3490px;
    width: 60%;
    font-size: 23px;
  }
  .pic8 {
    left: 20px;
    top: 3700px;
  }
  .pic8 > img {
    width: 70%;
    height: 60%;
  }
  .text12 {
    left: 250px;
    top: 3700px;
    width: 70%;
    font-size: 25px;
  }
  .subhead1 {
    left: 40px;
    top: 3830px;
    width: 80%;
    font-size: 25px;
  }
  .h12 {
    left: 30px;
    top: 3980px;
    width: 80%;
    font-size: 23px;
  }
  .pic9 {
    left: 20px;
    top: 4000px;
  }
  .pic9 > img {
    width: 60%;
  }
  .pic10 {
    left: 20px;
    top: 4100px;
  }
  .pic10 > img {
    width: 60%;
  }
  .pic11 {
    left: 20px;
    top: 4250px;
  }
  .pic11 > img {
    width: 60%;
  }
  .pic12 {
    left: 20px;
    top: 4400px;
  }
  .pic12 > img {
    width: 60%;
  }
  .h13 {
    left: 250px;
    top: 4050px;
    width: 100%;
    font-size: 25px;
  }
  .text13 {
    left: 250px;
    top: 4080px;
    font-size: 20px;
    width: 50%;
  }
  .h14 {
    left: 250px;
    top: 4170px;
    width: 100%;
    font-size: 25px;
  }
  .text14 {
    left: 250px;
    top: 4190px;
    font-size: 20px;
    width: 50%;
  }
  .h15 {
    left: 250px;
    top: 4295px;
    width: 100%;
    font-size: 25px;
  }
  .text15 {
    left: 250px;
    top: 4320px;
    font-size: 20px;
    width: 50%;
  }
  .h16 {
    left: 250px;
    top: 4430px;
    width: 100%;
    font-size: 25px;
  }
  .text16 {
    left: 250px;
    top: 4460px;
    font-size: 20px;
    width: 50%;
  }
  .box1 {
    width: 100%;
  }
  .headingx {
    left: 20px;
    font-size: 36px;
  }
  .subhead2x {
    left: 290px;
    font-size: 26px;
  }
  .h17 {
    left: 50px;
    font-size: 25px;
    width: 100%;
    top: 4660px;
  }
  .text17 {
    left: 30px;
    font-size: 20px;
    width: 80%;
    top: 4695px;
  }
  .pic13 > img {
    width: 40%;
    left: 200px;
    top: 4780px;
    height: 20%;
  }
  .subhead3 {
    left: 50px;
    font-size: 26px;
    top: 5030px;
  }
  .text18 {
    left: 20px;
    font-size: 20px;
    width: 90%;
    top: 5080px;
  }
  .subhead4 {
    left: 50px;
    top: 5390px;
    width: 90%;
    font-size: 26px;
  }
  .text19 {
    left: 20px;
    top: 5450px;
    width: 90%;
    font-size: 20px;
  }
  .subhead5 {
    left: 50px;
    top: 5920px;
    font-size: 26px;
    width: 90%;
  }
  .text20 {
    left: 20px;
    top: 5960px;
    font-size: 20px;
    width: 90%;
  }
  .pic14 > img {
    width: 370px;
    left: 170px;
    top: 5580px;
    height: 25%;
  }
  .box4 {
    width: 100%;
    height: 50%;
  }
  .heading1 {
    left: 80px;
    font-size: 35px;
  }
  .subhead6 {
    left: 20px;
    font-size: 25px;
    width: 95%;
    top: 6100px;
  }
  .text21 {
    left: 20px;
    font-size: 20px;
    width: 90%;
    top: 6230px;
  }
  .pic15 > img {
    width: 40%;
    left: 230px;
    top: 6320px;
    height: 25%;
  }
  .text22 {
    left: 20px;
    top: 6680px;
    width: 100%;
    font-size: 22px;
  }
  .pic16 > img {
    width: 50%;
    left: 230px;
    top: 6820px;
    height: 25%;
  }
  .h18 {
    left: 40px;
    top: 7180px;
    font-size: 25px;
  }
  .text23 {
    left: 20px;
    top: 7230px;
    width: 95%;
    font-size: 20px;
  }
  .box5 {
    width: 100%;
    height: 70%;
  }
  .heading2 {
    font-size: 40px;
    left: 50px;
  }
  .subhead7 {
    left: 20px;
    font-size: 23px;
    width: 80%;
  }

  .pic17 > img {
    width: 350px;
    left: 170px;
    top: 7850px;
    height: 25%;
  }
  .h19 {
    left: 50px;
    font-size: 25px;
    width: 100%;
  }
  .text24 {
    left: 30px;
    top: 8280px;
    width: 90%;
  }
  .pic18 > img {
    width: 50%;
    left: 200px;
    top: 8480px;
    height: 25%;
  }
  .container2 {
    top: 8870px;
    width: 100%;
    height: 45%;
  }
  .h20 {
    left: 20px;
    font-size: 25px;
    width: 90%;
    top: 8920px;
  }
  .text25 {
    left: 20px;
    width: 90%;
    top: 8990px;
    font-size: 20px;
  }
  .pic19 > img {
    width: 50%;
    left: 250px;
    top: 9150px;
    height: 20%;
  }
  .h21 {
    left: 20px;
    top: 9490px;
    width: 90%;
    font-size: 25px;
  }
  .text26 {
    left: 20px;
    top: 9550px;
    width: 90%;
    font-size: 20px;
  }

  .pic20 > img {
    width: 50%;
    left: 250px;
    top: 9700px;
    height: 20%;
  }
}
