.Title {
	color: white;
	padding: 10px;
	text-align: center;
}


.Form {
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	
}

#table,tr {
	color: white;
	border: 1px solid white;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
}