h1 {
  color: black;
}

.Title1 {
  color: black;
  padding: 10px;
  text-align: center;
}

.Form7 {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
/* input {
  width: 100%;
  padding: 1rem;
  margin: 10px;
<<<<<<< HEAD
  
=======
  border: 2px solid black!important;
>>>>>>> 709e209787f38bbb2dbb37763dedfe149b46eba7
}

select {
  padding: 1rem;
  text-align: center;
  margin: 5px;
}

label {
  color: black;
}

input:invalid {
  border: 2px red;
}

input:valid {
  border: 2px solid black;
} */
