.about {
    position: absolute;
    left: 545px;
    top: 120px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
}

.text {
    position: absolute;
    width: 1327px;
    height: 340px;
    color: white;
    left: 15px;
    top: 250px;
}

.p1 {
    position: absolute;
    float: center;
    color: white;
    top: 700px;
    left: 470px;
}

.image {
    position: absolute;
    width: 1036px;
    height: 447px;
    left: 193px;
    top: 900px;
}

.banner {
    position: absolute;
    background: white;
}

