.admin {
  color: rgb(156, 151, 151);
  font-size: 20px;
}

.overall_admin table {
  background-color: white;
}
.overall_admin th {
  border: 3px solid rgb(87, 85, 85);
  font-size: 20px;
  font-weight: bold;

  height: 8vh;
  background-color: rgb(108, 137, 145);
}

.overall_admin td {
  border: 1px solid rgb(61, 64, 65);
  color: black;
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.overall_admin table {
  width: 100vw;
  border-collapse: collapse;
}
.register {
  font-size: 20px;
  color: blue;
}

.button-a {
  padding: 10px;
  color: black;
  background: linear-gradient(to right, #3ad4af, #082361);
  margin-left: 60px;
  color: white;
  font-weight: 600;
  width: 6rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.button {
  outline: none;
  text-align: center;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 800;
  margin-top: 10px;
  color: black;
  background-color: goldenrod;
  width: 150px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.menu-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.sidebar_admin {
  position: absolute;
  height: 100%;
  width: 240px;
  background: #0a2558;
  transition: all 0.5s ease;
}
.sidebar_admin.active {
  width: 60px;
}
.sidebar_admin .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_admin .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar_admin .nav-links {
  margin-top: 10px;
}
.sidebar_admin .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar_admin .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar_admin .nav-links li a.active {
  background: #081d45;
}
.sidebar_admin .nav-links li a:hover {
  background: #081d45;
}
.sidebar_admin .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar_admin .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar_admin.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 110px;
  padding: 0 5px 0 2px;
}

.home-section nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
.home-section nav .profile-details i {
  font-size: 25px;
  color: #333;
}
.home-section .home-content {
  position: relative;
  padding-top: 10px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 0 20px;
  margin-left: 1%;
  margin-bottom: 26px;
}
.overview-boxes .box_home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 55px);
  background: #fff;

  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.home-content .box_home .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box_home .indicator {
  display: flex;
  align-items: center;
}
.home-content .box_home .indicator i {
  height: 20px;
  width: 20px;
  background: #8fdacb;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box_home .indicator i.down {
  background: #e87d88;
}
.home-content .box .indicator .text_admin {
  font-size: 12px;
}
.home-content .box_home .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  cursor: pointer;
  margin: -15px 0 0 6px;
}
.home-content .box_home .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box_home .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box_home .cart.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 55%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box_home .title123 {
  font-size: 24px;

  font-weight: 600;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box_home .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box_home .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box_home .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  text-decoration: underline;
  color: #0d3073;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar_admin {
    width: 160px;
  }
  .sidebar_admin.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar_admin.active ~ .home-section {
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 160px);
    left: 160px;
  }
  .sidebar_admin.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .recent-sales {
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .home-content .sales-boxes .box_home {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box_home {
    width: calc(100% / 2 - 15px);
    /* margin-bottom: 15px; width: 50%; */
    width: fit-content;
    margin-right: 1%;
    display: block;
  }
}
@media (max-width: 700px) {
  .home-section nav .sidebar_admin-button .dashboard,
  .home-section nav .profile-details .admin_name,
  .home-section nav .profile-details i {
    display: block;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 500px;
  }
  .menu-container .button-a {
    margin-left: 1%;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box_home {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar_admin.active ~ .home-section nav .profile-details {
    display: block;
  }
}
