.pagecontainer {
  width: 1200px;
  margin: 0 auto;
}
.pagecontainer ul {
  padding: 0;
}
.headerimagecontainer {
  background-image: url(../../assests/job.png);
  height: 540px;
  background-repeat: no-repeat;
  filter: brightness(70%);
  position: relative;
}
.headercontent {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.headercontent h1 {
  font-size: 3.75em;
  font-family: "Oswald", "Arial Narrow", "Trebuchet MS", sans-serif;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: 1.25;
  margin-bottom: 20px;
}
.headercontent img {
  margin-top: -15px;
}
.benefitscontainer {
  margin-top: 50px;
}
.headercontent p,
.benefitscontainer p {
  font-size: 15px;
  font-family: "Montserrat", "Verdana", "Geneva", sans-serif;
  color: black;
  letter-spacing: 0.01em;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 50px;
}
.headercontent p {
  width: 60%;
}
.headercontent span {
  color: #2a2552;;
}
.headercontent a {
  font-size: 14px;
  font-family: "Montserrat", "Verdana", "Geneva", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 1;
  cursor: pointer;
  background-color: #2a2552;
  border: none;
  border-radius: 0;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.headercontent a:hover {
  background: #3d3c49;
}
.benefitscontainer {
  text-align: center;
}
.benefitscontainer ul {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.benefitscontainer h2,
.current-openings h2 {
  font-size: 30px;
  font-family: "Oswald", "Arial Narrow", "Trebuchet MS", sans-serif;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: 1.25;
  text-align: center;
}
.benefitscontainer h3 {
  font-size: 16px;
  font-family: "Montserrat", "Verdana", "Geneva", sans-serif;
  color: #6d6e71;
  margin: 15px 0 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25;
}
#bottom-adjustment {
  margin-top: 20px;
}
#location {
  margin-top: 0;
}
.benefitscontainer p {
  color: #6d6e71;
}
.benefitscontainer span {
  font-size: 0.75rem;
}
.benefitscontainer li {
  width: 20%;
  /* margin-bottom: 50px; */
  list-style: none;
}
.benefitscontainer img {
  width: 30%;
}
/* .overall-carousel input[type="file"] {
  display: block;
} */
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 60%;
  text-align: center;
  border-radius: 10px;
}
.form-left textarea {
  margin-top: 10%;
  margin-left: 1%;
  height: auto;
  width: 400px;
  overflow: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.form-left {
  /* display: block; */
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 650px;
  left: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.form-left input[type="text"] {
  height: 2.5rem;
  display: block;
  width: 60%;
  margin-bottom: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  transition: all 0.5s;
}
.form-left input[type="number"] {
  height: 2.5rem;
  display: block;
  margin-left: 0px;
  width: 60%;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border: none;
  transition: all 0.5s;
}
.form-left input[type="file"] {
  height: 2.5rem;
  display: block;
  margin-left: 0px;
  width: 60%;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border: none;
  transition: all 0.5s;
}

.overall-carousel {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-openings {
  margin: 3.5em 0;
}
#whr_embed_hook {
  width: 75%;
  margin: auto;
}
.whr-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  margin-right: 2.5em;
}
.whr-info span {
  display: none;
}
.whr-item {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.whr-title {
  font-size: 20px;
  margin-bottom: 5px;
}
.whr-title a {
  color: #2a2552;
}
.whr-location,
.whr-date {
  font-size: 16px;
  margin-bottom: 5px;
}
.job-labels {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  width: 75%;
}
.whr-dept,
.department {
  display: none;
}.tbl-header a{ font-size: 1.2rem;font-weight: 600;
  color: #2a2552;

}
.tbl-header table {margin-bottom: 3%;}
.location {
  padding-left: 3em;
}
.img-slider {
  position: relative;
  width: 100vw;
  height: 400px;
}
.img-slider .slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}
.img-slider .slider-container .slide {
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.img-slider .slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
}

@media (max-width: 1199px) {
  .pagecontainer {
    width: 100%;
  }
  #whr_embed_hook,
  .job-labels {
    width: 75%;
    margin: 2em auto;
  }
}
@media (max-width: 900px) {
  .benefitscontainer li {
    width: 45%;
    margin-bottom: 0;
  }
  #ul2 {
    margin-top: 0;
  }
  .location {
    padding-left: 3em;
  }
}
@media (max-width: 780px) {
  .whr-info {
    width: 55%;
  }
  .location {
    padding-left: 5em;
  }
}
@media (max-width: 767px) {
  .overall-carousel {
    flex-direction: column;
  }
  #whr_embed_hook,
  .job-labels {
    width: 95%;
  }
}
@media (max-width: 568px) {
  .whr-info {
    margin: 1em auto;
    width: 100%;
  }
  #whr_embed_hook,
  .job-labels {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .headercontent h1 {
    font-size: 2em;
  }
  .headercontent img {
    width: 30%;
  }
  .benefitscontainer li {
    width: 75%;
    margin-bottom: 0;
  }
  #whr_embed_hook,
  .job-labels {
    width: 95%;
    margin: 2em auto;
  }
  .location {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .form-left textarea {
    margin-left: 3%;
    width: 40%;
  }
}
