.form99 {
  text-align: left;
}

a {
  color: goldenrod;
}

.area {
  width: 100%;
  min-height: 100vh;
  color: white;
}
.area ul li {
  list-style: none;
}
.side-menu {
  position: relative;
  background: #275b85;
  min-height: 30rem;
  width: 300px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.side-menu .brand-name {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;
}

.side-menu li {
  font-size: 24px;
  padding: 17px 0px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu li a {
  color: #ffff;
  text-decoration: none;
}
.area li:hover {
  background: rgb(97, 145, 184);
  border-radius: 10px;
  font-weight: 550;
  margin-left: 5px;
  transition: all ease-in 250ms;
}
.content1 {
  margin-top: -760px;
  margin-left: 300px;
  min-height: 90vh;
  display: flex;
}
.content1 .cards77 {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px;
}
.content1 .cards77 .card00 {
  width: 150px;
  height: 100px;
  background-color: rgb(35, 44, 75);
  margin: 10px 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16),
    0 6px 20px 0 rgba(240, 229, 229, 0.19);
}
/* .box00 h1,
h3 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
} */

/* .area ul
{
	list-style: none;
	line-height: -20px;
	color: #fff;
	position: absolute;
	width: 570px;
	height: 39px;
	left: 786px;
	top: 0px;
}
.area ul li{
	display:inline-block;
}
.area ul li a{
	text-decoration:inherit;
	font-family:jost;
	font-weight:bold;
	font-size:20px;
	padding:5px 20px;
	color:#000;
	} */
.content {
  top: 30px;
  box-sizing: border-box;
  line-height: 1.7;
  font-family: Jost;

  font-size: 23px;

  text-align: center;

  color: #ffff;
}
.area .content p {
  text-align: left;
  margin-top: 50px;
  padding-right: 690px;
}
/* .text{

	right: 150px;
	top: 250px;
	

}
.sub
{
position: absolute;
width: 395px;
height: 52px;
left: 750px;
top: 330px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

/* text-align: center;

color: rgba(255, 255, 255, 0.95); */

/* .h1 */
/* {
	position: absolute;
width: 138px;
height: 52px;
left: 718px;
top: 445px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

/* text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.h2
{
	position: absolute;
width: 84px;
height: 52px;
left: 1050px;
top: 445px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

/* text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.sub1
{
	position: absolute;
width: 96px;
height: 52px;
left: 728px;
top: 518px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

/* 
color: rgba(255, 255, 255, 0.95);
}
.sub2
{
	position: absolute;
width: 203px;
height: 52px;
left: 724px;  */
/* top: 598px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

/* text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.sub3
{
	position: absolute;
width: 254px;
height: 52px;
left: 720px;
top: 667px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;  */
/* identical to box height */

/* text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.h2sub1
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 527px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px;
	/* identical to box height */

/* text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.h2sub2
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 605px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px;  */
/* identical to box height */
/* 
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.h2sub3
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 675px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px; */
/* identical to box height */
/* 
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.pie
{
position:absolute;
width: 360px;
height: 368px;
left: 133px;
top: 366px;
background: rgba(255, 255, 255, 0.95);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color:#000;
}
.line1
{
	position: absolute;
	width: 7.8px;
	left: 315px;
	top: 402px;
	
}
.line1 p
{
	position: absolute;
	width: 65px;
	height: 52px;
	left: -13px;
	top: -5px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	/* identical to box height */
/* text-align: center;
	color: #000000;
}
.line2
{
	position: absolute;
	width: 8px;
	left: 136px;
	top: 534px;
	visibility: visible;
}
.line2 p
{
	position: absolute;
	width: 66px;
	height: 52px;
	left: 152px;
	top: 77px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px; */
/* identical to box height */

/* text-align: center;
	color: #000000;
}
.line3
{
	position: absolute;
	width: 8px;
	height: 216px;
	left: 267px;
	top: 372px;
	
	
}
.line3 p
{
	position: absolute;
	width: 68px;
	height: 52px;
	left: -78px;
	top: 83px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px; */
/* identical to box height */

/* text-align: center;
	color: #000000;
} */

/* .ll
{
position: absolute;
width: 61px;
height: 47px;
left: 1360px;
top: 965px;
}
.home
{
	position: absolute;
	width: 73px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px; */
/* identical to box height */
/* 

	color: #000000;
	left: 15px;
	top: 960px;
}
.privacy
{
	position: absolute;
	width: 167px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px; */
/* identical to box height */
/* 

	color: #000000;
	left: 102px;
	top: 961px;
}
.contact
{
	position: absolute;
	width: 133px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
	flex-basis: 60%;
	display: flex; */
/* identical to box height */
/* color: #000000;
	left: 281px;
	top: 961px;
}
.features img{
	width:300px;
	height:300px;
}
.features a p{
	color:#fff;
	padding: 5px;
	text-align: center;


}

.images{
	padding-left:150px;
	
	
	margin-top:900px;
	
	
	
	
	position: static;
} */
/* @media screen and (max-width:568px)  {
	.content{
		font-size: 25px;
		justify-content: space-between;
		width:50%;
		left:30px;
	}
	.images{
		width: 30%;
		top: 350%;
	    left: 10%;
	transform: translate(-200%,120%);
	}
	.features img{
		width: 175px;
		height:175px;
		padding-left:30px;
		
	}
	.features a p{
		padding-left:50px;
	}
	
	.text{
		transform: translate(-30%,50%);
		left: 20px;
		top: 350px;
		font-size: 5px;
		width:30%;
	
	}
	.pie{
		width:68px;
		height:168px;
		left: 20px;
		top: 366px;
		
	}
	.line1{
		width: 55px;
	height: 42px;
	left:196px;
	top:405px;
	}
	.line2{
		width:55px;
		height:42px;
		left:20px;
		top:536px;
	}
	.line3{
		
		left:150px;
		top:376px;
	}
	.sub{
		left: 70px;
top: 300px;
	}
	.h1{
		left:50px;
		top:350px;
	}
	.sub1{
		left:50px;
		top:400px;
	}
	.sub2{
		left:50px;
		top:450px;
	}
	.sub3{
		left:50px;
		top:500px;
	}
	.h2{
		left:350px;
		top:350px;
	}
	.h2sub1{
		left:350px;
		top:400px;
	}
	.h2sub2{
		left:350px;
		top:450px;
	}
	.h2sub3{
		left:350px;
		top:500px;
	}
} */
/* @media screen and (min-width:568px) and (max-width:968px) {
	
	.area{
		height:1126px;
	}
	.content{
		font-size: 30px;
		width:50%;
	}
	
	.sub{
		left: 150px;
top: 850px;
	}
	.h1{
		left:100px;
		top:900px;
	}
	.sub1{
		left:100px;
		top:950px;
	}
	.sub2{
		left:100px;
		top:1000px;
	}
	.sub3{
		left:100px;
		top:1050px;
	}
	.h2{
		left:450px;
		top:900px;
	}
	.h2sub1{
		left:450px;
		top:950px;
	}
	.h2sub2{
		left:450px;
		top:1000px;
	}
	.h2sub3{
		left:450px;
		top:1050px;
	}
	.images{
		width: 50%;
		top: 90%;
	    left: 30%;
	transform: translate(-30%,150%);
	padding-bottom: 5%;
	margin-bottom: 3%;
	
	}
	.features img{
		width: 300px;
		height:225px;
	}
	.text{
		
		font-size: 30px;
		width:50%;
	}
	}*/
