.area
{
position: relative;
width: auto;

background: #000000;
display: flex;
justify-content: center;
align-items: center;
}
.area ul
{
	list-style: none;
	line-height: -20px;
	color: #fff;
	position: absolute;
	width: 570px;
	height: 39px;
	left: 786px;
	top: 0px;
}
.area ul li{
	display:inline-block;
}
.area ul li a{
	text-decoration:inherit;
	font-family:jost;
	font-weight:bold;
	font-size:20px;
	padding:5px 20px;
	color:#000;
	}
.content
{
position: absolute;
display: flex;
flex-basis: 20%;

top: 100px;
box-sizing: border-box;
text-align: justify;
line-height: 1.7;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 36px;


text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.text{

	right: 150px;
	top: 250px;
	

}
.sub
{
position: absolute;
width: 395px;
height: 52px;
left: 750px;
top: 330px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.h1
{
	position: absolute;
width: 138px;
height: 52px;
left: 718px;
top: 445px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.h2
{
	position: absolute;
width: 84px;
height: 52px;
left: 1050px;
top: 445px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.sub1
{
	position: absolute;
width: 96px;
height: 52px;
left: 728px;
top: 518px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */


color: rgba(255, 255, 255, 0.95);
}
.sub2
{
	position: absolute;
width: 203px;
height: 52px;
left: 724px;
top: 598px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.sub3
{
	position: absolute;
width: 254px;
height: 52px;
left: 720px;
top: 667px;

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.95);
}
.h2sub1
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 527px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px;
	/* identical to box height */

	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.h2sub2
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 605px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px;
	/* identical to box height */

	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.h2sub3
{
	position: absolute;
	width: 126px;
	height: 52px;
	left: 1050px;
	top: 675px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 45px;
	/* identical to box height */

	text-align: center;
	color: rgba(255, 255, 255, 0.95);
}
.pie
{
position:absolute;
width: 360px;
height: 368px;
left: 133px;
top: 366px;
background: rgba(255, 255, 255, 0.95);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color:#000;
}
.line1
{
	position: absolute;
	width: 7.8px;
	left: 315px;
	top: 402px;
	
}
.line1 p
{
	position: absolute;
	width: 65px;
	height: 52px;
	left: -13px;
	top: -5px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	/* identical to box height */
	text-align: center;
	color: #000000;
}
.line2
{
	position: absolute;
	width: 8px;
	left: 136px;
	top: 534px;
	visibility: visible;
}
.line2 p
{
	position: absolute;
	width: 66px;
	height: 52px;
	left: 152px;
	top: 77px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	/* identical to box height */

	text-align: center;
	color: #000000;
}
.line3
{
	position: absolute;
	width: 8px;
	height: 216px;
	left: 267px;
	top: 372px;
	
	
}
.line3 p
{
	position: absolute;
	width: 68px;
	height: 52px;
	left: -78px;
	top: 83px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 52px;
	/* identical to box height */

	text-align: center;
	color: #000000;
}

.ll
{
position: absolute;
width: 61px;
height: 47px;
left: 1360px;
top: 965px;
}
.home
{
	position: absolute;
	width: 73px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
	/* identical to box height */


	color: #000000;
	left: 15px;
	top: 960px;
}
.privacy
{
	position: absolute;
	width: 167px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
	/* identical to box height */


	color: #000000;
	left: 102px;
	top: 961px;
}
.contact
{
	position: absolute;
	width: 133px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 32px;
	flex-basis: 60%;
	display: flex;
	/* identical to box height */
	color: #000000;
	left: 281px;
	top: 961px;
}
.features img{
	width:300px;
	height:300px;
}
.features a p{
	color:#fff;
	padding: 5px;
	text-align: center;


}

.images{
	padding-left:150px;
	
	
	margin-top:900px;
	
	
	
	
	position: static;
}
@media screen and (max-width:568px)  {
	.content{
		font-size: 25px;
		justify-content: space-between;
		width:50%;
		left:30px;
	}
	.images{
		width: 30%;
		top: 350%;
	    left: 10%;
	transform: translate(-200%,120%);
	}
	.features img{
		width: 175px;
		height:175px;
		padding-left:30px;
		
	}
	.features a p{
		padding-left:50px;
	}
	
	.text{
		transform: translate(-30%,50%);
		left: 20px;
		top: 350px;
		font-size: 5px;
		width:30%;
	
	}
	.pie{
		width:68px;
		height:168px;
		left: 20px;
		top: 366px;
		
	}
	.line1{
		width: 55px;
	height: 42px;
	left:196px;
	top:405px;
	}
	.line2{
		width:55px;
		height:42px;
		left:20px;
		top:536px;
	}
	.line3{
		
		left:150px;
		top:376px;
	}
	.sub{
		left: 70px;
top: 300px;
	}
	.h1{
		left:50px;
		top:350px;
	}
	.sub1{
		left:50px;
		top:400px;
	}
	.sub2{
		left:50px;
		top:450px;
	}
	.sub3{
		left:50px;
		top:500px;
	}
	.h2{
		left:350px;
		top:350px;
	}
	.h2sub1{
		left:350px;
		top:400px;
	}
	.h2sub2{
		left:350px;
		top:450px;
	}
	.h2sub3{
		left:350px;
		top:500px;
	}
}
@media screen and (min-width:568px) and (max-width:968px) {
	
	.area{
		height:1126px;
	}
	.content{
		font-size: 30px;
		width:50%;
	}
	
	.sub{
		left: 150px;
top: 850px;
	}
	.h1{
		left:100px;
		top:900px;
	}
	.sub1{
		left:100px;
		top:950px;
	}
	.sub2{
		left:100px;
		top:1000px;
	}
	.sub3{
		left:100px;
		top:1050px;
	}
	.h2{
		left:450px;
		top:900px;
	}
	.h2sub1{
		left:450px;
		top:950px;
	}
	.h2sub2{
		left:450px;
		top:1000px;
	}
	.h2sub3{
		left:450px;
		top:1050px;
	}
	.images{
		width: 50%;
		top: 90%;
	    left: 30%;
	transform: translate(-30%,150%);
	padding-bottom: 5%;
	margin-bottom: 3%;
	
	}
	.features img{
		width: 300px;
		height:225px;
	}
	.text{
		
		font-size: 30px;
		width:50%;
	
	}
}