body {
	background:#000;
}

.area > img {
	width: 100%;
}

.area-text h1{
	position: absolute;
	width: 900px;
	height: 111px;
	left: 50%;
	right: 50%;
	transform: translate(-50%,-50%);
	top: 20%;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	line-height: 92px;
	text-align: center;
	color:#000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn button{
	position: absolute;
	width: 150px;
	height: 40px;
	left: 50%;
	right: 50%;
	transform: translate(-50%,-50%);
	top: 40%;
	background-color: white;
	color: black;


}

.nav-area{
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	border-radius: 0px;

}
.fea{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 603px;
	top: 2px;
	color: #FFF;
}

.center {
	position: absolute;
	left: 25%;
	right: 25%;
	transform: translate(-25%, -25%);
}

.rect1 {
	position: absolute;
	width: 414px;
	height: 242px;
	left: 44px;
	top: 79px;
	border-radius: 15px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:url(../../assests/rect1.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.rect1 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 54px;
	top: 83px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
}
.btn1 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 164px;
	top: 220px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;

}
	
	
.rect2 {
	position: absolute;
	width: 414px;
	height: 242px;
	left: 485px;
	top: 79px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	background-color: #fff;
	background-image:url(../../assests/rect2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	
}
.rect2 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 97px;
	top: 79px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
	
}
.btn2 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 614px;
	top: 220px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;
}
.rect3{
	position: absolute;
	width: 413px;
	height: 236px;
	left: 915px;
	top: 81px;
	border-radius: 15px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:url(../../assests/retirement%202.png);
	background-position: center;
	background-repeat: no-repeat;
	
}
.rect3 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 58px;
	top: 76px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
	}
.btn3 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 1056px;
	top: 220px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;
}
.rect4 {
	position: absolute;
	width: 412px;
	height: 242px;
	left: 47px;
	top: 352px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/finance%201.jpg);
	border-radius: 15px;
}
.rect4 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 52px;
	top: 92px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
	}
.btn4 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 164px;
	top: 500px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;
	}

.rect5{
	position: absolute;
	width: 412px;
	height: 242px;
	left: 481px;
	top: 352px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/rect5.jpg);
	border-radius: 15px;
}
.rect5 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 59px;
	top: 92px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
}
.btn5 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 611px;
	top: 501px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;
}
.rect6{
	position: absolute;
	width: 412px;
	height: 242px;
	left: 914px;
	top: 352px;
	background: rgba(255 ,255, 255,0.95);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../assests/wealth%201.jpg);
	border-radius: 15px;
}
.rect6 h1{
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	height: 39px;
	width: 272px;
	left: 69px;
	top: 89px;
	color: #000;
	border-radius: nullpx;
	position: absolute;
}
.btn6 button{
	position: absolute;
	background-color: #000;
	width: 140px;
	left: 1061px;
	top: 501px;
	height: 45px;
	font-size: 18px;
	font-weight: 400;
	margin: 20px 10px;
	color: white;
}
.why{
	position: absolute;
	width: 180px;
	height: 68px;
	left: 583px;
	top: 588px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 69px;
	color: #FFF;
}
.rect7{
	position: absolute;
	width: 1253px;
	height: 296px;
	left: 62px;
	top: 689px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: inset 5px 5px 4px rgba(0, 255, 163, 0.5);
	border-radius: 15px;
}
.pol1{
	position: absolute;
	width: 32px;
	height: 43px;
	left: 62px;
	top: 53px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(../../assests/Polygon%201.jpg);
	}
.pol1 h1{
	position: absolute;
	width: 151px;
	height: 39px;
	left: 57px;
	top: -7px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.pol2{
	position: absolute;
	width:32px;
	height: 43px;
	left: 62px;
	top: 190px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/Polygon%202.jpg);
	}
.pol2 h1{
	position: absolute;
	width: 79px;
	height: 39px;
	left: 54px;
	top: -11px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.pol3{
	position: absolute;
	width: 32px;
	height: 43px;
	left: 462px;
	top: 53px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/Polygon%203.png);
	}
.pol3 h1{
	position: absolute;
	width: 222px;
	height: 39px;
	left: 60px;
	top: -9px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.pol4{
	position: absolute;
	width: 32px;
	height: 43px;
	left: 462px;
	top: 190px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/Polygon%206.jpg);
	}
.pol4 h1{
	position: absolute;
	width: 216px;
	height: 39px;
	left: 65px;
	top: -8px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.pol5{
	position: absolute;
	width: 32px;
	height: 43px;
	left: 928px;
	top: 47px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/Polygon%205.jpg);
	}
.pol5 h1{
	position: absolute;
	width: 206px;
	height: 39px;
	left: 56px;
	top: -6px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.pol6{
	position: absolute;
	width: 32px;
	height: 43px;
	left: 928px;
	top: 183px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url(../../assests/Polygon%206.jpg);
	}
.pol6 h1{
	position: absolute;
	width: 182px;
	height: 39px;
	left: 58px;
	top: -7px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 39px;
	color: #000000;
}
.footer
{
	position: absolute;
	width: 1380px;
	height: 68px;
	left: 0px;
	top: 1615px;
	background: rgba(255, 255, 255, 0.95);
}
.footer h1
{
	position: absolute;
	width: 70px;
	height: 39px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	/* identical to box height */


	color: #000000;
	left: 24px;
	top: 5px;
}
.footer h2
{
	position: absolute;
	width: 156px;
	height: 39px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	/* identical to box height */


	color: #000000;
	left: 108px;
	top: 3px;
}
.footer h3
{
	position: absolute;
	width: 123px;
	height: 39px;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	/* identical to box height */


	color: #000000;
	left: 270px;
	top: 0px;
}
.fb
{
	
position: absolute;
width: 61px;
height: 48px;
left: 1174px;
top: 963px;
}
.tw
{
	position: absolute;
width: 62px;
height: 45px;
left: 1237px;
top: 966px;
}
.google
{
	position: absolute;
width: 61px;
height: 47px;
left: 1299px;
top: 965px;
}
.ll
{
	position: absolute;
width: 61px;
height: 47px;
left: 1360px;
top: 965px;
}