.register-form h2 {
  text-align: center;
  /* margin: 50px 0; */
  color: #2a2552;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
@media (max-width: 540px) {
  .register-form h2 {
    font-size: 28px;
    margin: 30px 0;
  }
}

.register-form form {
  padding: 0 10%;
}
.register-form form section {
  width: calc(50% - 40px);
  padding: 10px;

  margin: 10px;
  border-radius: 5px;
}
.register-form form section.left {
  float: left;
}
.register-form form section.right {
  float: right;
}
.register-form form section .input-container {
  padding: 10px;
}
.register-form form section .input-container label {
  display: block;
  margin-bottom: 4px;
  color: black;
  font-size: 16px;

  font-family: "Quicksand", sans-serif;
}
.register-form form section .input-container input,
.register-form form section .input-container textarea {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  background: rgb(243, 245, 247);
  box-shadow: 2px 6px 25px rgba(255, 188, 46, 0.1),
    0px 3px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid black;

  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #757575;
}
.register-form form section .input-container [type="checkbox"] {
  width: 5%;
  height: 25%;
}
.register-form form section .input-container h1 {
  display: flex;
  text-align: left;
  /* margin-top: 4%; */
}
.register-form form section .input-container h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -5%; */
}

.register-form form section .input-container input:focus,
.register-form form section .input-container textarea:focus {
  outline: none;
  background: white;
}
.btn-3 {
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}
.register-form form section .input-container textarea {
  height: 122px;
  padding: 15px 10px;
  resize: none;
}

.register-form form:after {
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 992px) {
  .register-form form {
    padding: 0 5%;
  }
}
@media (max-width: 768px) {
  .register-form form {
    margin-bottom: 50px;
  }
  .register-form form section {
    width: 100%;
    margin: 0;
  }
  .register-form form section.left {
    margin-bottom: -30px;
  }
}
