* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
body {
  padding: 10px;
  background-color: black;
}
header {
  background-image: black;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: rgb(48, 42, 42);
  color: rgb(124, 121, 121);
}
.logo img {
  float: left;
  width: 100px;
  height: 100px;
}
h2 {
  text-decoration: none;
  color: white;
  position: center;
}
.section {
  padding: 10px;
}

.top {
  color: rgb(253, 252, 251);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  max-width: 1000x;
  padding: 60px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 1);
  margin: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.box {
  background-color: whitesmoke;
  border-radius: 18px;
}
.img-responsive {
  width: 100%;
  height: 300px;
}
h2 {
  color: black;
}

b {
  display: inline-block;
  text-decoration: none;
  color: rgb(240, 240, 240);
  background: rgb(8, 8, 8);
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  margin-top: 20px;
}

.banner {
  position: absolute;
  width: 150rem;
  height: 40px;
  right: 1px;
  background: white;
  top: 850px;
  font-size: 10px;
}
.footer {
  position: absolute;
  text-decoration: none;
  float: left;
  right: 1000px;
  top: 850px;
  word-spacing: 2rem;
  transition: 0.6s ease;
  padding: 10px;
}
.four {
  position: absolute;
  float: right;
  width: 400px;
  top: 850px;
  left: 1100px;
  padding: 5px;
}
a {
  text-decoration: none;
}
