body {  margin: 0;
  padding:0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;

}

a {
  color: black;
}

/* header */

.header {
  
    background: #000;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
   background: #000;
  
}
.header li a {
    position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-size: 1rem;;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 1s;
  top: 8px;
}
.header li a::after{
   position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background:black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;

}

.header li a:hover,
.header .menu-btn:hover{
   border-radius: 0px;
   color: black;
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}


.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.logo {
  width: 85px;
  margin-top: 3px;
}
.header .menu {
 clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;

}



/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.banner {
  width: 100%;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
footer{
    position: fixed;
    width: 100%;
    
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    color: black;
    z-index: 50;
}
.footer a {
    position: relative;
    font-weight: 450;
    font-size: 18px;
    left: 14px;
    color:black;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    top: 13px;
}

.footer-text {
 margin-top: 1rem;

}
 
.footer-text > a { 
  padding: 1rem;
  font-size: 1.5rem;

}

.fimage{
    float: right;
    display: flex;
    justify-content: center;
}
.img1{
    width: 51px;
    height: 38px;
}
.img2{ 
    width: 51px;
    height: 37px;
}
.img3{    
    width: 51px;
    height: 37px;
}

.img4{   
    width: 52px;
    height: 35px;
}

/* Loader */

@keyframes ldio-c9p079igqka {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-c9p079igqka div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid white;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-c9p079igqka div {
  animation: ldio-c9p079igqka 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-kswyn6f3gj7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.ldio-c9p079igqka {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c9p079igqka div { box-sizing: content-box; }
/* generated by https://loading.io/ */

/* 48em = 768px */

label {
  color: white;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
