body {  margin: 0;
  padding:0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
 box-sizing: border-box;
}

a {
  color: black;
}

/* header */

.header {
  
    background: #000;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
   background: #000;
  
}
.header li a {
    position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-size: 1rem;;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 1s;
  top: 8px;
}
.header li a::after{
   position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background:black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;

}

.header li a:hover,
.header .menu-btn:hover{
   border-radius: 0px;
   color: black;
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}


.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.logo {
  width: 85px;
  margin-top: 3px;
}
.header .menu {
 clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;

}



/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

 
.banner {
  width: 100%;
}


@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

footer{
  
 
  font-size: 1rem;
  font-weight: 300;
 min-height: 15vh;
  color: white;
  width: 100%;
  padding: 70px 0;
  line-height: 1.5;
  position: absolute;
  text-decoration: none;
   top: 1550px;
  

  
  
}


.footer-text {

display: flex;
flex-wrap: wrap;
margin-bottom: 0;

}
ul{
list-style: none;
}


.footer-col{
width: 25%;
padding: 0 15px;

}
.footer-col h4{
  font-size: 24px;
  color: white;
   font-weight: 500;
  position: relative;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100px;
  box-sizing: border-box;
  background-color: rgb(149, 11, 57);
}

   

 .footer-col ul li a{
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  transition:all 0.3s ease ;
}
.footer-col ul li a:hover{
  color: #84fab0 ;
  text-decoration: none;

}
.footer-col .fimage a{

  display:inline-block;
 height: 40px;
 width: 40px;
 background-color: rgb(170, 165, 165);
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: white;
 transition: all 0.65s ease;
}
.footer-col .fimage a:hover{
  color: rgb(149, 11, 57);
  background-color: #84fab0 ;
}
footer input[type='email']{
  width: 14vw;
  
  font-size: 18px;
  text-align: center;
  padding: 7px 7px 7px 7px;
  border-radius: 15px;
  outline: none;
  border: none;
}
footer input[type='submit']{
  border: none;
  outline: none;
  text-align: center;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight:800;
  padding: 10px ;
  color: black;
background-color:green;
}
footer input[type='submit']:hover{
 background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
@media (max-width: 1024px){
  footer input[type='submit']{
  
    margin-top: 8px;
  }
  footer{
    padding: 40px;
    top: 1900px;
  }
}
 

@media (max-width: 800px){
  
footer{
  padding: 40px;
  top: 1900px;
}
.footer-col{
  flex-direction: column;
  margin-bottom: 30px;
  width: 50%;
  padding: 40px;
}
footer input[type='submit']{
  
  margin-left: 5px;
}

}
@media (max-width: 574px){
  .footer-col{
    width: 100%;
    margin-top: 30px;
    
  }
  footer .footer-text{
    padding: 40px;

  }
  footer{
    top: 1800px;
  }
    }

/* Loader */

@keyframes ldio-c9p079igqka {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-c9p079igqka div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid white;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-c9p079igqka div {
  animation: ldio-c9p079igqka 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-kswyn6f3gj7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.ldio-c9p079igqka {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c9p079igqka div { box-sizing: content-box; }
/* generated by https://loading.io/ */

/* 48em = 768px */


