/* Wall Banner */
.wall-banner {
  background-color: #38364d;
  position: relative;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wall-banner .wall-img1 {
  height: 120px;
  width: 100px;
}
.wall-banner .wall-img2 {
  height: 120px;
  width: 50%;
  margin-right: -300px;
}
.main-text1 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 21px;
  color: #b4b2cf;
  font-weight: 900;
}
.text-slice {
  color: #3ad4af;
  text-transform: capitalize;
}
.main-text2 {
  margin-right: 40px;
  margin-top: 40px;
  font-size: 21px;
  color: #b4b2cf;
  font-weight: 900;
}
.text-slice1 {
  color: #3ad4af;
  text-transform: capitalize;
}

.wall-banner .blocks {
  position: absolute;
  left: 45%;
  top: 0px;

  margin: 0px -30px 10px 10px;
}
.wall-banner .blocks .circle-block {
  padding: 7px;
  background-color: #3ad4af;
  border-radius: 70px;
  text-align: center;
  margin-bottom: 5px;
  width: 100px;
}
.circle-block {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.wall-banner .blocks .circle-block:nth-child(2) {
  padding: 7px;
  background-color: #3ad4af;
  border-radius: 50%;
  text-align: center;
  margin-top: -2px;
  margin-bottom: 1px;
  width: 100px;
  cursor: pointer;
  animation-name: ball;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
}

@keyframes ball {
  0% {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
  100% {
    transform: none;
  }
}

.wall-banner a {
  text-decoration: none;
}

.wall-banner .blocks .post-btn {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  background-color: transparent;
  font-family: "jost";
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

/* Navbar */

.container32 {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Start Style NavBar  */

.main-nav1 {
  background: #fff;
  width: 100%;
  height: 96px;
  position: relative;

  top: 0;
  left: 0;
  /* z-index: 10; */
  border-bottom: 1px solid #e6dfdf;
}

.links ul {
  list-style: none;
}

.links ul li {
  display: inline-block;
  display: flex;
  float: left;
  padding: 1.1rem;
  font-size: 1rem;
}
.fa {
  margin-right: 5px;
}

.links ul li a {
  color: #2a2552;
  text-decoration: none;
  font-weight: bold;
}

.links ul li:last-child {
  /* color: #2a2552;
  border: 0.12rem solid #3ad4af;
  border-radius: 3rem;
  margin-top: 0.8rem;
  max-height: fit-content;

  font-size: 1.4rem;
  text-align: center; */
  /* padding-left: 2.2rem;
  padding-right: 1.2rem; */
  cursor: pointer;
}

.links ul li:not(:last-child) a:hover {
  transition: 0.9s;
}

.links ul li:not(:last-child) a::after {
  content: "";
  /* left: 10%; */
  bottom: 21px;
  position: absolute;
  transform: translateX(-50%) scalex(0);
  background: linear-gradient(to right, #3ad4af, #426fd8);
  /* -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%; */
  transform-origin: 50% 50%;
  /* width: 0.5rem; */
  height: 4px;
  border-radius: 10px;
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.links ul li:not(:last-child) a:hover::after {
  width: 2.5rem;
  -webkit-transform: translateX(-90%) scaleX(1);
  transform: translateX(-150%) scaleX(2);
}

#logo {
  margin-top: 20px;
  cursor: pointer;
  color: #e4e6e7;
  float: left;

  display: block;
}

#logo:hover {
  text-decoration: none;
  color: #fff;
}

.links {
  float: right;
  /* padding: 18px; */
}

.links .image-menu {
  display: none;
}

#menu-icon {
  display: hidden;

  display: none;
  text-align: right;
  font-size: 30px;
  line-height: 80px;
  color: #2a2552;
  cursor: pointer;
}
/* @media (max-width: 1050px) {
  .links {
    padding: 0px 10px;
  }
} */

@media (max-width: 950px) {
  #menu-icon {
    display: inline-block;
  }
  .links {
    padding: 20px 10px;
  }

  .links ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: rgb(200, 198, 216);
    z-index: 3;
    top: 75px;
    right: 0px;
    width: 40%;
  }

  .links:hover ul {
    display: block;
    color: #3ad4af;
  }

  .links ul li {
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    margin: 0;
  }
}

/*footer */
.bannerpro1 {
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
  background: #17152e;
  font-family: "Adelle W01 Regular";
  box-sizing: border-box;
  /* background-color: #17152e; */
  margin: 0;
  padding: 0;
}
#tpro1 {
  margin: 25px;
}

.contentpro1 {
  max-width: 300vh;
  margin: auto;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentpro1 p,
.contentpro1 a {
  color: #b4b2cf;
  text-decoration: none;
}

.contentpro1 .boxpro1 {
  width: 33%;
  transition: all 0.4s ease;
  height: 50%;
}
.contentpro1 .left6 {
  padding-left: 15px;
}

.contentpro1 .topicpro1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  color: #ffff;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.contentpro1 p {
  text-align: justify;
}

.contentpro1 .middle6 {
  padding-left: 190px;
}

.contentpro1 .middle6 a {
  line-height: 20px;
  text-decoration: none;
}
.contentpro1 .right6 {
  padding-left: 120px;
}

.media-iconspro1 {
  margin-left: 72%;
  margin-top: -35px;
}

.media-iconspro1 a {
  font-size: 16px;
  height: 50%;
  width: 45px;
  display: inline-block;
  line-height: 10px;
  margin: 0px 10px 0 0;
  transition: all 0.3s ease;
  text-decoration: none;
}
.bottompro1 {
  width: 100%;
  text-align: left;
  color: #b4b2cf;
  padding: 3px 25px 0px 0;
}
.iapiou65 {
  width: 100%;
  padding: 15px;
}

.bottompro1 a {
  color: #3ad4af;
  text-decoration: none;

  color: #b4b2cf;
  transition: all 0.3s ease;
  text-decoration: none;
}

.bottompro1 a:hover {
  color: #3ad4af;
}

@media (max-width: 1100px) {
  footer .contentpro1 .middle6 {
    padding-left: 50px;
  }
  footer .media-iconspro1 {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 950px) {
  footer .contentpro1 .boxpro1 {
    width: 50%;
  }
  .contentpro1 .right6 {
    margin-top: 40px;
    margin-left: -100px;
  }
  footer .media-iconspro1 {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .contentpro1 .boxpro1 {
    width: 100%;
    margin-top: 30px;
  }
  footer .contentpro1 .middle6 {
    padding-left: 20px;
  }
  .contentpro1 .right6 {
    margin-left: -100px;
  }
  footer .media-iconspro1 {
    margin: 0;
    padding: 0;
  }
}
