body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  width: 80%;
  margin: 10px 0;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: rgb(243, 245, 247);
  box-shadow: 2px 6px 25px rgba(255, 188, 46, 0.1),
    0px 3px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #757575;
}
input:focus {
  outline: none;
}
label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-top: 2%;
  color: black;
}
select {
  padding: 0.7rem;
  text-align: center;
  margin: 5px;
  background-color: #ddd;
  border-radius: 10px;
  font-size: 1rem;
}
select:focus {
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  border: 1px solid black;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  padding: 13px;
  color: white;
  background-color: cornflowerblue;

  color: white;
  font-weight: 600;
  width: 7rem;
  border: none;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

table {
  background: #fff;

  border-radius: 10px;
  border: 1px solid #dedede;
  border-collapse: collapse;
  width: 100%;

  text-transform: capitalize;

  color: #202020;
}
form {
  padding: 2%;
}
th {
  text-align: left;
  background: #9caed8;
  padding: 8px;
  border: 1px solid #dedede;
}
td {
  text-align: left;
  background: #fff;
  padding: 8px;
  border: 1px solid #dedede;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
option {
  font-size: 1rem;
  margin-bottom: 3%;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
  input {
    width: 100%;
  }
  select {
    width: 10rem;
  }
}
@media screen and (max-width: 700px) {
  table {
    overflow-x: scroll;
  }
}
